body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  overflow: hidden;
}

.menuBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.menuBarItems{
  background-color: rgb(169, 78, 234);
  color: black;
  border-top: 10px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  border: 2px solid black;

}

.menuBarItems:hover{
  transition-duration: 0.2s;
  background-color: rgb(193, 4, 193);
  color: white;
}

a.menuBarItems:link{
  text-decoration: none;
}

/* Home Page CSS */
/*Eliminate any whitespace left below the linktree*/

.about_me_container{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:center;
  margin-left: 10px;
  margin-right: 10px;

}

.home_page,
.custom_purchases_page,
.rentals_page{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/white_lotus_flower.jpg");
  /*Apply to flower background only :opacity: 0.2;*/
  background-size: 10%;
  background-repeat: repeat;
  overflow: none;
  position: absolute;

}

.home_page_details,
.custom_purchases_details,
.rentals_details
{
  margin: auto;
  padding: 0;
  width: 80%;
  height: 91%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: bold;
  overflow: auto;
  color: darkorchid;
  background-color: white;
  border-left: 3px solid black;
  border-right: 3px solid black;

  animation-name: home_page_details_animation;
  animation-duration: 1.5s;


}

@keyframes home_page_details_animation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.stars{
  color: yellow;
}

.reviews_section{
  border: 2px solid blanchedalmond;
  background-color: black;
  width: 90%;
  height: auto;
  text-align: center;
  margin: auto;

}

.loading_bar{
  background-color: rgb(159, 24, 200);
  width: 0px;
  height: 7px;
  animation-name: loading_bar_animation;
  animation-duration: 6s;
  animation-direction: linear;
  animation-iteration-count: infinite;
}

@keyframes loading_bar_animation {
  0% {background-color: rgb(159, 24, 200); width: 0px;}
  90% {background-color: rgb(159, 24, 200); width: 100%;}
  100% {background-color: rgb(159, 24, 200); width: 0px;}
}

.next_button,
.rental_next_button{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: larger;
}


.next_button:hover,
.rental_next_button:hover{
  background-color: rgb(159, 24, 200);
  transition-duration: 0.3s;
}

.linktree_button{
  padding: 50px 50px;
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;

}

.linktree_button:hover{
  color: black;
  background-color: aliceblue;
  transition-duration: 0.2s;
}
/* Custom Purchases CSS */


/* Rentals CSS*/


/*Custom Purchases CSS*/

.custom_purchases_images,
.rental_images{
  width: 400px;
  height: 350px;
  border: 3px solid black;
}

.custom_purchases_caption{
  color: white;
  background-color: black;
}

/*Footer and Miscellaneous CSS*/
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 7px;
  
}
