body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.menuBar{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
}

.menuBarItems{
  background-color: rgb(103, 6, 173);
  color: black;
  border-top: 10px;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.menuBarItems:hover{
  transition-duration: 0.2s;
  color: white;
}

a.menuBarItems:link{
  text-decoration: none;
}

/* Home Page CSS */

.home_page{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(208, 139, 208);
}

.home_page_details
{

  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: bold;
  color: rgb(252, 251, 255);
}

.social_images{
  max-width: 150px;
  gap: 30px;
  
}

